:root {

    --cor-primaria: #000000;
    --cor-secundaria: #FFFFFF;

    --cor-texto-primaria: #222222;
    --cor-texto-secundaria: #F5F5F5;

    --cor-fundo-primaria: #D9D9D9;
    --cor-fundo-secundaria: #333333;

    --cor-hover: #8F0101;

    --cor-botao: #B81515;
}