@import url(reset.css);
@import url(geral.css);


h1{
    display: none;
}

header{
    background-color: var(--cor-primaria);
    height: 138px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
header img{
   margin: 37px 120px;
    width: 217px;
    height: 54px;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 54.5px 80px 54.5px 80px
}


.nav-links{
   
    color: var(--cor-secundaria);
    font-size: 24px;
    text-decoration: none;
    padding: 17px;
    
}

.nav-links:hover{
    color: var(--cor-hover);
    
}
    
main img{
    width: 100%;
    
}