@import url(reset.css);
@import url(geral.css);

/**----------------------------------------------------------------------------- Header -------------------------------------------------------------**/

header{
   
    height: 138px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cor-primaria);
    
    
}

header h1{
    
    display: none;
}

header img{
   margin: 37px 120px;
    width: 217px;
    height: 54px;
}

header ul{

    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 54.5px 80px 54.5px 80px
}


.nav-links{
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 24px;
    text-decoration: none;
    padding: 17px;
    
}

.nav-links:hover{
    color: var(--cor-hover);
    
}

/** ------------------------------------------------------Section 1--------------------------------------------------------------------------------- **/

#main_img {
    width: 100vw;
    margin-left: calc(49.4% - 50vw);
    display: block;
}

main{
    width: 80%;
    margin: 0 auto;
    
    }

    

.primeiro_texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 104px 120px;
    
    
}

h2{
    font-size: 36px;
    text-align: center;
    margin-top: 104px;
    margin-bottom: 16px;
    line-height: auto;
}

.segundo_section{
    display: grid;
    margin: 104px 120px;
    gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    position: relative;
}

.categorias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;

}

.categorias article {
    width: 281.25px;
    height: 220px;
    background-color: var(--cor-fundo-primaria);
}

#CaboverdeGPT {
    width: 588px;
    height: 390px;

}


.Cards_img {
    border-radius: 20px;
    position: relative;
}
.segundo_section p {
    position: absolute;
    top: 40px;
    left: 20px;
    color: black;
    z-index: 2;
}